<style>
  h1{
    color: brown;
    font-size: 70px;
    border-bottom: 20px solid;

  }

  ul{
    color: gray;
    font-weight: bold;
  }
#wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}
#content{
  display:flex;
  justify-content: center;
  align-items: center;

}
#all{
  background-color:#E0CCB5;
}
</style>
